<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/menu.css}">
    <link rel="stylesheet" th:href="@{/nutrition.css}">
    <meta charset="UTF-8">
    <title>Nutrition Store</title>
</head>
<body>
<div th:object="${fox}" th:replace="fragments/menu::navbar (fox=${fox.getName()})"></div>
<div class="whole">
    <p></p>
    <form action="/nutritionStore" method="post">
        <label for="food">Food: </label>
        <select id="food" name="foodString">
            <option th:each="f : ${foods}" th:value="${f}" th:text="${f}"></option>
        </select>
        <label for="drink">Drink: </label>
        <select id="drink" name="drinkString">
            <option th:each="d : ${drinks}" th:value="${d}" th:text="${d}"></option>
        </select>
        <input id="change" type="submit" value="Change">
        <input type="hidden" name="name" th:value="${fox.getName()}">
    </form>
</div>
</body>
</html>